@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;700&display=swap");

:root {
  --bubble-gum-pink: #ff5ab7;
  --black: #1e1e1e;
  --pinkish-grey: #c4c4c4;
  --pale-grey: #f5f6fa;
  --warm-grey: #888;
  --black-two: #121212;
  --white: #fff;
  --dodger-blue: #379cf6;
  --medium-blue: #307bbe;
  --azure: #0290ff;
  --black-5: rgba(0, 0, 0, 0.05);
}

.App {
  max-width: 80%;
  padding: 0 0 794px;
  margin: auto;
  border-radius: 4px;

  /* box-shadow: 0 0 60px 0 var(--black-5); */
  -webkit-box-shadow: 13px 17px 50px 5px rgba(0, 0, 0, 0.33);
  box-shadow: 13px 17px 50px 5px rgba(0, 0, 0, 0.33);
  background-color: #fafafa;
}

/* add book form */

.form_title {
  width: 174px;
  height: 24px;
  margin: 29px 524px 19px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: var(--warm-grey);
}

.form_input_book_title {
  width: 664px;
  height: 45px;
  margin: 19px 0;
  padding: 13px 17px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: var(--white);
}

.form_input_book_title::placeholder {
  /* width: 76px; */
  height: 19px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.15px;
  color: var(--pinkish-grey);
}

.form_input_category_select {
  width: 285px;
  height: 45px;
  margin: 19px 34px 0;
  padding: 6px 15px 9px 16px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: var(--white);
}

.form_submit_button {
  width: 184px;
  height: 45px;
  margin: 19px 0 0 34px;
  padding: 12.8px 19px 14.2px 22px;
  border-radius: 3px;
  background-color: var(--azure);
  font-family: 'Roboto Slab', serif;;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: var(--white);
}

/* Books list */
.books_list_container {
  display: flex;
  flex-direction: column;
}

/* Navigation bar */

.navigation_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  padding: 0 6.25rem;
  background-color: var(--white);
  border-bottom: solid 2px #e8e8e8;
}

.navigation_left {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: baseline;
}

.navigation_left * {
  margin-right: 36px;
}

.navigation_logo {
  font-family: "Montserrat", sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--azure);
}

.navigation_books {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: var(--black-two);
}

.categories_selector {
  opacity: 0.5;
  font-family: "Montserrat", sans-serif;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: var(--black-two);
  border: none;
  background-color: transparent;
}

/* Books list displayer */

.books_list_wrapper {
  /* margin: auto; */
  padding: 2.313rem 6.25rem;
}

/* Book */

.book_box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.938rem;
  height: 10.625rem;
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: var(--white);
}

/* .book_box_left {
  margin-bottom: 1.125rem;
} */

.book_info {
  margin-bottom: 1.125rem;
}

.book_info_category {
  opacity: 0.5;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
  margin-bottom: 0.25rem;
  text-transform: capitalize;
}

.book_info_title {
  font-family: 'Roboto Slab', serif;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: var(--black-two);
}

.book_info_author {
  font-family: 'Roboto Slab', serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.book_editor * {
  border: none;
  background: transparent;
  font-family: 'Roboto Slab', serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.book_editor_button {
  padding: 0 0.938rem;
  border-left: solid 1px #e8e8e8;
}

.book_editor_button:hover {
  color: var(--bubble-gum-pink);
  font-weight: bolder;
  cursor: pointer;
}

.book_editor_comment {
  padding: 0 0.938rem 0 0;
}

.book_box_right {
  /* padding-right: 9.18rem; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
