@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;700&display=swap");

:root {
  --bubble-gum-pink: #ff5ab7;
  --black: #1e1e1e;
  --pinkish-grey: #c4c4c4;
  --pale-grey: #f5f6fa;
  --warm-grey: #888;
  --black-two: #121212;
  --white: #fff;
  --dodger-blue: #379cf6;
  --medium-blue: #307bbe;
  --azure: #0290ff;
  --black-5: rgba(0, 0, 0, 0.05);
}

.App {
  max-width: 80%;
  padding: 0 0 794px;
  margin: auto;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 var(--black-5);
  background-color: #fafafa;
}

/* add book form */

.form_title {
  width: 174px;
  height: 24px;
  margin: 29px 524px 19px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: var(--warm-grey);
}

.form_input_book_title {
  width: 664px;
  height: 45px;
  margin: 19px 0;
  padding: 13px 17px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: var(--white);
}

.form_input_book_title::placeholder {
  /* width: 76px; */
  height: 19px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.15px;
  color: var(--pinkish-grey);
}

.form_input_category_select {
  width: 285px;
  height: 45px;
  margin: 19px 34px 0;
  padding: 6px 15px 9px 16px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: var(--white);
}

.form_submit_button {
  width: 184px;
  height: 45px;
  margin: 19px 0 0 34px;
  padding: 12.8px 19px 14.2px 22px;
  border-radius: 3px;
  background-color: var(--azure);
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: var(--white);
}
