*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  margin: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  margin: auto;
  padding: 3% 0;
  min-height: 100vh;
  background-color: var(--pale-grey);
}
