body {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bubble-gum-pink: #ff5ab7;
  --black: #1e1e1e;
  --pinkish-grey: #c4c4c4;
  --pale-grey: #f5f6fa;
  --warm-grey: #888;
  --black-two: #121212;
  --white: #fff;
  --dodger-blue: #379cf6;
  --medium-blue: #307bbe;
  --azure: #0290ff;
  --black-5: rgba(0, 0, 0, 0.05);
}

@font-face {
  font-family: FuturaPT;
  src:
    local(futurapt-book),
    url(/path/to/FuturaPT-Book.woff2) format("woff2"),
    url(/path/to/FuturaPT-Book.woff) format("woff"),
    url(/path/to/FuturaPT-Book.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Montserrat;
  src:
    local(montserrat-regular),
    url(/path/to/Montserrat-Regular.woff2) format("woff2"),
    url(/path/to/Montserrat-Regular.woff) format("woff"),
    url(/path/to/Montserrat-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Montserrat;
  src:
    local(montserrat-bold),
    url(/path/to/Montserrat-Bold.woff2) format("woff2"),
    url(/path/to/Montserrat-Bold.woff) format("woff"),
    url(/path/to/Montserrat-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: PlayfairDisplay;
  src:
    local(playfairdisplay-regular),
    url(/path/to/PlayfairDisplay-Regular.woff2) format("woff2"),
    url(/path/to/PlayfairDisplay-Regular.woff) format("woff"),
    url(/path/to/PlayfairDisplay-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: ProximaNova;
  src:
    local(proximanova-regular),
    url(/path/to/ProximaNova-Regular.woff2) format("woff2"),
    url(/path/to/ProximaNova-Regular.woff) format("woff"),
    url(/path/to/ProximaNova-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: RobotoSlab;
  src:
    local(robotoslab-bold),
    url(/path/to/RobotoSlab-Bold.woff2) format("woff2"),
    url(/path/to/RobotoSlab-Bold.woff) format("woff"),
    url(/path/to/RobotoSlab-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: SourceSerifPro;
  src:
    local(sourceserifpro-bold),
    url(/path/to/SourceSerifPro-Bold.woff2) format("woff2"),
    url(/path/to/SourceSerifPro-Bold.woff) format("woff"),
    url(/path/to/SourceSerifPro-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

.Text-Style-7 {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--azure);
}

.Text-Style-6 {
  font-family: RobotoSlab;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: var(--black-two);
}

.Text-Style-2 {
  font-family: SourceSerifPro;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--white);
}

.Text-Style-4 {
  font-family: FuturaPT;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 3.78px;
  color: var(--white);
}

.Text-Style {
  font-family: ProximaNova;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #6782a4;
}

.Text-Style-8 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

.Text-Style-5 {
  font-family: Montserrat;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: var(--black-two);
}

.Text-Style-3 {
  font-family: PlayfairDisplay;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2px;
  color: var(--white);
}

#root {
  width: 100%;
  margin: auto;
  min-height: 90vh;
  padding-top: 5%;
  background-color: var(--pale-grey);
  border: #0290ff solid 3px;
}
